.gy-form-group {
  padding-left: 105px;
  .l {
    width: 85px;
  }
}

.gy-form-box-14 {
  padding: 6px 14px 20px;
}

.gy-form-group:nth-child(odd) {
  padding-right: 30px;
}

.gy-form-group:nth-child(even) {
  padding-left: 135px;
  .l {
    width: 115px;
    padding-left: 30px;
  }
}

.gy-form-button {
  padding-top: 15px;
  padding-right: 15px;
}
