.essential-wrapper {
    padding: 6px 0 16px 0;
    &:after {
        display: block;
        clear: both;
        content: ' ';
    }
}

.essential-row-float {
    .essential-item {
        float: left;
        width: 50%;
        display: flex;
        min-height: 46px;
        padding: 8px 30px;
        line-height: 30px;
        position: relative;
        .essential-title {
            flex: 0 0 86px;
            position: relative;
            padding: 0 10px 0 0;
            color: $color-title;
            .el-checkbox {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .essential-text {
            flex: 1;
            display: flex;
            color: $color-main;
            position: relative;
            .unit {
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .d {
                flex: 1;
            }
            .c {
                flex: 0 0 30px;
                text-align: center;
            }
        }
    }
}

.essential-row {
    display: flex;
    min-height: 46px;
    padding: 6px 0;
    line-height: 30px;
    .essential-item {
        flex: 1;
        display: flex;
        position: relative;
        padding: 0 30px;
        .essential-title {
            flex: 0 0 105px;
            height: 30px;
            position: relative;
            padding: 0 10px 0 0;
            color: $color-title;
            .el-checkbox {
                position: absolute;
                left: -10px;
                top: 0;
            }
        }
        .essential-text {
            flex: 1;
            display: flex;
            position: relative;
            color: $color-main;
            word-break: break-word;
            .unit {
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .d {
                flex: 1;
            }
            .c {
                flex: 0 0 30px;
                text-align: center;
            }
        }
    }
}

.foot {
    margin: 0 30px 30px 0;
    text-align: right;
}

.isMust {
    color: $color-highlight;
    position: absolute;
    left: 0;
    top: 0;
}

.paydetail-title {
    font-size: 16px;
    padding: 0 16px;
    color: $color-title;
    line-height: 1;
    font-weight: bold;
}

.pay-wrapper {
    display: flex;
    .receivables-information {
        flex: 1;
    }
    .essential-information {
        flex: 1;
    }
}

.contImgItem {
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    margin-right: 12px;
    div {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 52px;
        border-radius: 5px;
        background: rgba(0, 0, 0, .3);
        font-size: 18px;
        color: $color-highlight;
        text-align: center;
        .delete{
            margin-right: -10px;
            cursor: pointer;
        }
        .plus{
            margin-left: -5px;
            cursor: pointer;
        }
    }
    &:hover div {
        display: block;
    }
}

.dialog-erp-cont {
    min-height: 600px;
    & .el-dialog__body div {
        min-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

::placeholder {
    color: #c0c4cc;
}

.approval-list {
  padding: 20px 16px;
}

.text-overflow {
    max-height: 120px;
    overflow-y: auto;
    word-wrap : break-word;
    line-height: normal;
}
