@font-face {
    font-family: 'iconfont';  /* project id 729775 */
    src: url('//at.alicdn.com/t/font_729775_y8na4rldlyg.eot');
    src: url('//at.alicdn.com/t/font_729775_y8na4rldlyg.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_729775_y8na4rldlyg.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_729775_y8na4rldlyg.woff') format('woff'),
    url('//at.alicdn.com/t/font_729775_y8na4rldlyg.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_729775_y8na4rldlyg.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.icon-search:before{
  content: "\e627";
  cursor: pointer;
}
.icon-priceTool:before{
  content: "\e640";
  cursor: pointer;
}
.icon-dele:before{
  content: "\e629";
  cursor: pointer;
}
.icon-add:before{
  content: "\e762";
  cursor: pointer;
}
.icon-add-b:before{
  content: "\e81a";
  cursor: pointer;
}
.icon-photo-null:before{
  content: "\e638";
  font-size: 30px;
  color: #6666;
}
.icon-photo:before{
  content: "\e641";
  cursor: pointer;
  font-size: 30px;
  color: #4A90E2;
}
.icon-piao:before{
  content: "\e641";
  cursor: pointer;
}
.icon-order-default:before{
  content: "\e63b";
  cursor: pointer;
}
.icon-receiptPayments:before{
  content: "\e655";
}
.icon-delivery:before{
  content: "\e653";
}
.icon-inventory:before{
  content: "\e652";
}
// -------------
.icon-createOrder:before{
  content: "\e657";
}
.icon-daily:before{
  content: "\e665";
}
.icon-standingBook:before{
  content: "\e662";
}
.icon-control:before{
  content: "\e663";
}
// -------------
.icon-element:before{
  content: "\e668";
}
.icon-contract:before{
  content: "\e66a";
}
.icon-seledelivery:before{
  content: "\e666";
}
.icon-receiptPayments1:before{
  content: "\e66b";
}
// 收付款查询
.icon-recePayment:before{
    content: "\e655";
}
// 交割查询
.icon-delivery:before {
    content: "\e653";
}
// 合同管理
.icon-contractsd:before{
    content: "\e651";
}
// 合同要素管理
.icon-contracts:before{
    content: "\e652";
}
// 发票查询
.icon-invoice:before{
    content: "\e650";
}
// 用印申请列表
.icon-yongyin:before {
  content: "\e6a6";
}
// 用印申请
.icon-stamp:before {
    content: "\e69d";
}
// 结算菜单
.icon-settle:before {
  content: '\e6b1';
}
// 结算列表
.icon-jiesuan:before {
  content: '\e6b0';
}
// 报表查询
.icon-transaction:before{
    content: "\e64e";
}
// 工作台
.icon-workbench:before{
    content: "\e66c";
}
// 流程管理
.icon-processManagement:before{
    content: "\e66d";
}
// 用户
.icon-user:before{
    content: "\e642";
}
// 提醒
.icon-iconRemind:before{
    content: "\e65f";
}
.icon-billing:before{
  content: "\e669";
}
// 交叉交割
.icon-crossYes:before{
    content: "/e86f";
}
.icon-crossNo:before{
    content: "/e780";
}
.icon-goodsDelivery:before{
  content: "\e671";
}
.icon-repertory:before{
  content: "\e670";
}
.icon-message-warning:before {
  content: "\e64c";
  color: #E7B140;
  position: relative;
  top: -2px;
  font-size: 16px;
  margin-right: 10px;
}
.icon-message-error:before {
  content: "\e646";
  color: #e0370f;
  position: relative;
  top: 3px;
  font-size: 26px;
  margin-right: 10px;
}
.icon-add1:before {
    content: '\e6b5';
    color: #4C97FC;
}
.icon-del1:before {
    content: '\e6b6';
    color: #E0370F;
}
