.my-invoice {
    .title {
        font-size: 18px;
        color: #333;
        margin: 15px 0 4px 0;
        font-weight: 600;
    }
    .block-wrap {
        /*.gy-form-group {
            padding: 10px 40px 10px 130px;
            font-size: 14px;
            color: #666666;
        }
        .l {
            width: 120px;
            color: #333333;
        }*/
        .my-group {
            line-height: 20px;
        }
    }
    .button-wrap {
        width: 100%;
        text-align: right;
        padding-right: 30px;
        button {
            margin-right: 3px;
        }
        button:nth-last-child(1) {
            margin-right: 0;
        }
    }
}
