@font-face {
  font-family: 'iconfont';
  /* project id 729775 */
  src: url("//at.alicdn.com/t/font_729775_339d1crxk5b.eot");
  src: url("//at.alicdn.com/t/font_729775_339d1crxk5b.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_729775_339d1crxk5b.woff") format("woff"), url("//at.alicdn.com/t/font_729775_339d1crxk5b.ttf") format("truetype"), url("//at.alicdn.com/t/font_729775_339d1crxk5b.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-add:before {
  content: "\e606";
}

.icon-remove:before {
  content: "\e712";
}

.icon-search:before {
  content: "\e627";
  cursor: pointer;
}

.icon-arrow-down:before {
  content: "\e620";
  cursor: pointer;
}

.icon-arrow-up:before {
  content: "\e61f";
  cursor: pointer;
}

.icon-arrow-left:before {
  content: "\e623";
  cursor: pointer;
}

.icon-arrow-right:before {
  content: "\e621";
  cursor: pointer;
}

.icon-weitijiao:before {
  content: "\e629";
}

.icon-renzhengzhong:before {
  content: "\e62c";
}

.icon-yirenzheng:before {
  content: "\e62b";
}

.icon-reject:before {
  content: "\e630";
}

.icon-company:before {
  content: "\E62F";
}

.icon-ca:before {
  content: "\e631";
}

.icon-bank:before {
  content: "\e62d";
}

.icon-settlement:before {
  content: "\e632";
}

.icon-order:before {
  content: "\e617";
}

.icon-user:before {
  content: "\e622";
}

.icon-goods:before {
  content: "\e616";
}

.icon-ad:before {
  content: "\e612";
}

.icon-transport:before {
  content: "\e61c";
}

.icon-ratingManagement:before {
  content: "\e617";
}

.icon-counterpartyList:before {
  content: "\e622";
}

.icon-check:before {
  content: "\e631";
}

.icon-application:before {
  content: "\e615";
}
