.wrap {
    position: relative;
    top: 50%;
    width: 920px;
    height: 534px;
    margin: 0 auto;
    border: 1px solid #e7ecf1;
    border-radius: 5px;
    background: #F2F3F7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
}

.left {
    width: 25%;
}

.center {
    width: 45.9%;
}

.search-box {
    padding: 15px 20px;
    background: #fff;
}

.search-in {
    border: 1px solid #e7ecf1
}

.search-in input {
    position: relative;
    padding: 0 8px;
    border: 0;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    outline: none;
}

.conversations {
    overflow: auto;
    height: 477px;
    margin-top: 1px;
    background: #fff;
}

.conversations ul {
    overflow: hidden;
}

.conversations li {
    position: relative;
    height: 60px;
    box-sizing: border-box;
    padding: 8px 13px;
    list-style-type: none;
    _height: 1%
}

.conversations li:hover {
    background: #f5f6f7;
    cursor: pointer;
}

.conversations li.active {
    background: #eaedf0;
}

.conversations li:after {
    content: "";
    width: 93.45%;
    height: 1px;
    background: #e7ecf1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.conversations li img {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}

.conver_c {
    padding-left: 12px;
    float: left;
    width: 90px;
}

.conver_compname {
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
}

.conver_lastmsg {
    font-size: 12px;
    line-height: 1;
    margin-top: 3px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 17px;
}

.conver_time {
    float: right;
    font-size: 12px;
    color: #666;
}

/*::-webkit-scrollbar{width: 10px;}*/
.center {
    margin-left: 0.1%;
}

.c_top {
    padding: 10px 12px;
    background: #fff;
}

.c_top .fl img {
    width: 20px;
    vertical-align: middle;
}

.c_top .fl span {
    font-size: 16px;
    color: #6666;
    vertical-align: middle;
    padding-left: 6px;
}

.c_top .fr {
    font-size: 12px;
    color: #333;
    line-height: 22px;
}

.c_center {
    height: 432px;
    overflow: auto;
    padding: 17px 13px;
    box-sizing: border-box;
}

.chatitem_time {
    line-height: 20px;
    text-align: center;
}

.chatitem_time span {
    line-height: 20px;
    background: #d8d8d8;
    padding: 0 10px;
    color: #fff;
    border-radius: 10px;
}

.chatitem_res,
.chatitem_cent {
    overflow: hidden;
    _height: 1%;
    margin-top: 14px;
}

.chatitem_res .headimg,
.chatitem_cent .headimg {
    position: relative;
    overflow: hidden;
    top: 4px;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.chatitem_cent .headimg {
    float: right;
}

.chatitem_res p,
.chatitem_cent p {
    text-align: justify;
    white-space: normal;
    word-break: break-all;
    background: #fff;
    padding: 10px 14px;
    float: left;
    max-width: 64%;
    font-size: 14px;
    color: #333;
    border-radius: 9px;
    margin-left: 10px;
}
.chatitem_cent p {
    background: #fddf9d;
    float: right;
    margin-left: 0;
    margin-right: 10px;
}

.chatitem_res .msg-date,
.chatitem_cent .msg-date {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    color: #999;
    text-align: right;
}

.chatitem_res p img,
.chatitem_cent p img {
    width: 100px;
    display: block;
}

.inpbox {
    height: 60px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.inpbox input {
    height: 28px;
    font-size: 14px;
    color: #333;
    width: 300px;
}

.inpbox #sent {
    width: 60px;
    height: 30px;
    background: #e0370f;
    cursor: pointer;
}

.inpbox #sent p {
    line-height: 30px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

#entry {
    border: 0;
}

.right {
    width: 28.9%;
    height: 100%;
    overflow: auto;
}

.or_cur {
    background: #fff;
    padding: 14px;
}

.or_cur .p_top {
    font-size: 12px;
    color: #333;
    line-height: 1;
    font-weight: bold;
}

.p_title {
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 28px;
}

.p_ul {
    font-size: 12px;
    line-height: 23px;
}

.p_ul .ul_l {
    color: #151515;
}

.p_ul .ul_r {
    color: #2a2a2a;
}

.or_his {
    margin-top: 6px;
    background: #fff;
    min-height: 201px;
}

.or_his_tit {
    padding: 11px 17px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.or_his_item {
    border-top: 1px solid #E7ECF1;
    padding: 0 10px;
    font-size: 12px;
    color: #333;
    line-height: 24px;
}

.or_his_item ul {
    border-bottom: 1px solid #E7ECF1;
    padding: 10px 0;
}

.or_his_item ul:last-child {
    border-bottom: none;
}

.redpoint {
    position: relative;
}

.redpoint:before {
    width: 8px;
    height: 8px;
    background: #ff1b1b;
    border-radius: 50%;
    position: absolute;
    left: 44px;
    top: 10px;
    content: "";
}

textarea {
    width: 80%;
    height: 24px;
}

.orderBox {
    padding: 0 10px;
}

.orderBox div {
    width: 90px;
    height: 28px;
    border: 1px solid #e0370f;
    border-radius: 2px;
    cursor: pointer;
}

.orderBox div p {
    color: #e0370f;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
}

.orderBox p.fl {
    line-height: 30px;
    color: #333;
    font-weight: bold;
}

.emptybox {
    padding: 120px 0;
}

.emptybox p {
    font-size: 12px;
    color: #999;
    text-align: center;
}
