html {
    background-color: transparent !important;
    border: none !important;
}

body {
    background-color: #7f7f7f !important;
    font-size: 14px;
    border: none !important;
}

.webim {
    border-radius: 10px !important;
}

.webim-sign,
.webim-logo {
    display: none;
}

.copyright {
    bottom: 4% !important;
    display: none;
}

.webim-leftbar {
    display: none !important;
    /*float: none !important;*/
    /*left: 0;*/
    /*top: 0;*/
    /*position: absolute !important;*/
    /*box-sizing: border-box;*/
    /*border-color: #e7ecf0 !important;*/
}

.webim-chat {
    padding-left: 250px;
    box-sizing: border-box;
}

.webim-rightbar {
    width: 250px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.webim-contact-wrapper {
    float: none;
    left: 0;
    top: 0;
    position: absolute;
    box-sizing: border-box;
    border-color: #e7ecf0 !important;
}

.webim-chatwindow {
    width: 100% !important;
    border-right: 1px solid #e7ecf0 !important;
    box-sizing: border-box;
}

.webim-chatwindow-msg {
    background-color: #f2f3f7;
}

.webim-chatwindow-title {
    text-align: left !important;
    background-color: #fff;
    padding-left: 20px;
    box-sizing: border-box;
    height: 60px !important;
    line-height: 60px !important;
    box-sizing: border-box;
    border-bottom: 1px solid #e7ecf0;
}

.webim-operations-icon {
    display: none !important;
}

.webim-contact-item {
    border-bottom: 1px solid #e7ecf0;
    box-sizing: border-box;
}

.webim-contact-item.selected {
    background-color: #f2f3f7 !important;
}

.webim-msg-container .left .webim-msg-icon {
    color: #fff !important;
}

.webim-msg-container .left .webim-msg-value {
    background-color: #fff !important;
}

.webim-msg-container .right .webim-msg-value {
    background-color: #fcdf9d !important;
}

.webim-msg-container .right .webim-msg-delivered {
    background-color: transparent !important;
    color: #087b23;
    display: none !important;
}

.webim-msg-container .right .webim-msg-icon {
    color: #fcdf9d !important;
}

.webim-subscribe-button.error:hover {
    background-color: #e04621 !important;
}

.webim-send-wrapper .webim-button {
    background-color: #e0370e !important;
    border-radius: 3px;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    padding: 0 20px;
    right: 20px;
    bottom: 20px;
    margin: 0;
    border: none;
}

.webim-send-wrapper .webim-button:hover {
    background-color: #e04621 !important;
}

.webim-chatwindow-msg {
    top: 60px !important;
}