.commodity-main{
  overflow: hidden;
  .newSearch{
    overflow: hidden;
    .right_div{
      overflow: hidden;
      float: right;
      .right_div1{
        float: left;
      }
      .right_div2{
        float: left;
        line-height: 1;
        margin: 11px 14px 20px 0;
      }
      .right_div2:hover{
        cursor: pointer;
      }
    }
  }
  .operation-menu{
    float: right;
  }
  .bigsearchShow{
    padding:14px;
    margin-bottom: 30px;
  }
  .search {
    margin: 5px 0 20px 0;
  }
  .icon-search {
    position: absolute;
    right: 0;
    top: 0;
  }
}
