.account-company{
    h3{
        padding: 0 20px;
        border-bottom: none;
    }
    .gy-form {
        padding-top: 0;
        padding-left: 0;
        .gy-form-group {
            .select-province {
                width: 100px;
                margin-right: 4px;
            }
            .address{
                margin-top: 10px;
            }
        }
    }
    .gy-button-extra{
        margin-left: 10px;
    }
    .company-list{
        margin-bottom: 0;
        padding: 0 20px;
        h3{
            margin: 0 -20px;
        }
        table{
            border-left: none;
            border-right: none;
            font-size: $small-font;
            tbody{
                tr:last-child{
                    td{
                        border-bottom: none;
                    }
                }
            }
        }
        .gy-form-button{
            padding: 10px 20px 10px 0;
            button{
                margin-left: 10px;
            }
        }
        .note{
            display: block;
            text-align: center;
            padding: 40px 0 60px;
            font-size: 18px;
            color: #c9c9c9;
        }
    }
    .add-comapny {
        .license-tips{
            font-size: $small-font;
            margin-left: -70px;
        }
        .img-holder {
            border-radius: $border-radius-base;
            overflow: hidden;
            vertical-align: middle;
            display: inline-block;
            height: 100px;
            width: auto;
            border: 1px solid $color-border;
            margin-right: 10px;
        }
        .img-upload {
            vertical-align: middle;
            display: inline-block;
        }
        input[name=licenseOption]{
            vertical-align: 45px;
            margin-right: 10px;
        }
        .license-upload-box{
            margin-left: -25px;
            .item{
                position: relative;
            }
            .item:first-child{
                padding: 10px 0;
            }
            .button-box{
                display: inline-block;
                margin-right: 10px;
                text-align: center;
                span.name{
                    display: block;
                    font-size: $small-font;
                }
            }
            .mask{
                position: absolute;
                height: 100%;
                background-color: #fff;
                opacity: 0.5;
                left: 20px;
                top: 0;
                width: 100%;
            }
        }
        h3 {
            line-height: 40px;
            margin: 0;
            font-size: 16px;
            color: #333;
            padding-left: 15px;
            font-weight: normal;
            //border-bottom: 1px solid #e6eaea;
        }
        .tab {
            text-align: center;
            padding: 30px 0 10px;
            li {
                overflow: hidden;
                border-top-left-radius: $border-radius-large;
                border-top-right-radius: $border-radius-large;
                display: inline-block;
                height: 90px;
                width: 250px;
                background-color: #eff1f5;
                vertical-align: middle;
                position: relative;
                cursor: pointer;
                text-align: left;
                margin: 0 10px;
                dl {
                    color: $color-title;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    padding: 0 20px;
                    top: 50%;
                    transform: translate(0, -50%);
                    dt {
                        font-size: 18px;
                        line-height: 1.5;
                        margin-bottom: 10px;
                    }
                    dd {
                        line-height: 1;
                    }
                }
                &.selected {
                    background-color: #e59640;
                    dl{
                        color: #fff;
                    }
                }
            }
        }
        .ca-wrap {
            padding: 20px 40px;
            .gy-form {
                padding: 0;
            }
            .t {
                margin-bottom: 10px;
                dd {
                    color: $color-minor;
                }
            }
            .card-group {
                div {
                    display: inline-block;
                    vertical-align: middle;
                }
                .card-tips {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
            .img-bank {
                width: 120px;
                height: auto;
            }
        }
        .tips {
            color: $color-highlight;
            padding: 10px 0 0 20px;
            font-size: 12px;
            height: 38px;
            i {
                margin-right: 5px;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
