.commodity-main{
    h3{
        line-height: 1;
        margin: 10px 0 30px;
        font-weight: normal;
    }
    background-color: #fff;
    margin: 0 auto;
    .item.fl, .item.fr{
        width: 50%;
    }
    .button-box{
        clear: both;
        padding-top: 20px;
    }
    .search{
        margin: 30px 0;
        input{
            width: 200px;
        }
    }
    .operation-menu{
        margin-bottom: 10px;
        a, button{
            margin-right: 10px;
        }
    }
    table{
        .operation{
            width: 250px;
        }
    }
    .form-group-button{
        margin-top: 20px;
        a, button{
            margin-right: 20px;
        }
    }
    &.commodity-attribute{
        .iconfont{
            font-size: 20px;
            cursor: pointer;
        }
        .add-item{
            margin-bottom: 10px;
        }
        .add-item{
            .gy-input{
                width: 40%;
            }
        }
    }
    &.commodity-sku{
        .form-group-textarea{
            float: none;
            width: 100%;
            clear: both;
        }
        .form-group-special{
            float: none;
            width: 100%;
            clear: both;
            padding-left: 90px !important;
            .l{
                left: 0 !important;
            }
        }
    }
    .product-img{
        width: 50%;
        height: auto;
    }
    .upload-box{
        .img-holder{
            display: inline-block;
            width: 148px;
            height: 148px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: $border-radius-base;
            overflow: hidden;
            vertical-align: middle;
            margin-right: 10px;
        }
        .product-upload{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .el-select{
        width: 100% !important;
    }
    input[type=text]{
        //width: 250px !important;
    }
    .el-cascader{
        height: 32px !important;
        line-height: 32px !important;
    }
}
