.page {
  padding-bottom: 25px;
}
.search-wrapper {
  padding: 15px 0 12px 14px;
  .icon-search {
    position: absolute;
    top: 5px;
    right: 36px;
  }
}
.btn-group {
  padding: 7px 0;
  text-align: right;
}
.gy-button-extra, .gy-button-normal {
  margin-right: 7px;
}
