.order-list{
  .el-card__header {
    padding: 10px 20px;
    .title {
      color: $color-title;
      font-size: 16px;
      margin-right: 24px;
    }
  }
  .selected-box{
    padding-top:20px;
    .el-date-editor .el-range-separator{
      width: 25px;
    }
  }
  .right {
    color: $color-minor;
    float: right
  }
  span.gy-button-view{display:inline-block;margin-top:5px;}
  .im-talk{ color:$color-highlight;
    cursor: pointer;
    padding-left:10px;
    .iconfont{
      color:$color-highlight;
      padding-right:2px;
    }
  }
  .selected {
    padding-bottom: 15px;
    overflow: hidden;
    ul li {
      float: left;
      padding: 0 5px;
      cursor: pointer;
      &.active {
        color: $color-a-active;
        border-bottom: 2px solid $color-a-active
      }
    }
    ul li:not(:first-child) {
      position:relative;
      margin-left: 10px;
    }
    .search-btn{
      cursor: pointer;
      margin-right:14px;
      color: $color-minor;
    }
    .search-box {
      display: inline-block;
      width: 216px;
      font-size: 14px !important;
      border-bottom: 1px solid #e7ecf1;
      input {
        width: 140px;
        height: 30px;
        color: $color-minor;
        border: none;
      }
      button {
        display:inline-block;
        width: 60px;
        color: $color-minor;
        border: none;
        background-color: #fff;
        text-align: right;
      }
      span {
        color: $color-minor;
        padding-left: 20px
      }
    }

  }
  table{
    width:100%;
    margin-top:20px;
    border-collapse: collapse;
    td{color:$color-main; text-align: center;font-size: 12px;background: #fff;line-height: 1.2}
    tr:not(:nth-child(2)) td{
      border:1px solid $color-border;
      padding:10px;
      vertical-align: top;
    }
    tr:first-child td{
      background-color:#fff;
      border:0;
    }
    tr:not(:first-child){
      border:1px solid $color-border;
    }
    tr.update-title td{
      background:#f2f3f7;
      text-align: left;
      padding:0 16px;
      border:0;
      vertical-align: middle;
      height:32px;
      line-height: 32px;
    }
    tr.update-title i{cursor:pointer}
    td.tleft{text-align: left;padding-left:16px;}
    tr.separated{border-left:0;border-right:0;}
    tr.separated td{
      padding:0;
      background-color:#fff;
      height:16px;
      border-left:0;
      border-right:0;
    }
  }
  td.price{color:$color-a-active}
  td .img-box{
    float:left;
    border:1px solid $color-border;
    margin-right:20px;
    width:58px;
    height:58px;
  }
  td .img-box img{
    width:100%;
    height:100%;
  }
  .info-box{
    padding-left:78px;
  }
  .log span{
    display: inline-block;
    width: 32%;
    text-align: left;
  }
  .listul{
    background-color: #fff;
    width: 75%;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    left: 1px;
    top: 31px;
    z-index: 9;
    border: 1px solid #e6eaea;
    border-top: none;
    margin-left: 16.5%;
    li{
      padding: 5px 10px;
    }
    li:hover{
      cursor: pointer;
      background-color: #f5f7fa;
      color: #4a90e2;
    }
  }
  .btns-group {
      padding: 10px 0;
      min-height: 78px;
  }
}
