$box-shadow: rgba(0,0,0,.08);
$gray-bd: #e9ecf2;
$title-bg: #D4D4D4;
$light-bd: #f2f3f6;
$gray-font: #a0a4af;
$cur-hover: #f7fafe;
$main-font: #444546;
$tip-success: #ecfbf2;
$black-font: #333333;
@mixin m-panel{
    background:#fff;
    width:100%;
    //box-shadow: 0 0 4px $box-shadow;
    //border-radius:4px;
    //border:solid 1px $gray-bd;
    margin-bottom:15px;
    &.gray{
        background: $title-bg;
    }
    .g-title{
        padding:10px 20px;
        border-bottom: solid 1px $gray-bd;
        margin-bottom:0;
        background:$title-bg;
        border-radius:4px 4px 0 0
    }
    .body{
        padding:20px;
    }
    .footer{
        padding:10px 20px;
        border-top:solid 1px $light-bd;
    }
    .el-breadcrumb{
        font-size: 16px;
    }
}
.m-panel{
    @include m-panel
}

@mixin u-table{
    width: 100%;
    background: #fff;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    th, td{
        line-height: 1.5;
    }
    th{
        background: $title-bg;
        border: solid 1px $gray-bd;
        border-width:1px 0;
        padding:10px;
        font-size: 12px;
        font-weight: normal;
        color: $black-font;
        text-align:inherit;
    }
    tbody{
        tr{
            border-bottom: solid 1px $light-bd;
            transition:all .4s;
            td{
                font-size:12px;
                padding:18px 5px;
                color: $main-font;
            }
            &:hover{
                background: $cur-hover
            }
            &.selected{
                background: $tip-success
            }
        }
    }
    .topoption{
        text-align: left;
        //height: 100px;
        padding-bottom: 20px;
    }
    .bigtitle{
        color: black;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        //padding: 20px 0 20px 5px;
        padding: 20px 0 ;
    }
    .smalltitle{
        // width: 100px;
        width: initial;
    }
    .cell-title{
        margin-top: 5px;
    }
    .cell-text-align-right{
        text-align: right;
    }
}

.u-table{
    @include u-table
}
.m-table-wrap{
    width:100%;
    overflow:auto;
    .u-table{
        th,
        td {
            white-space: nowrap
        }
    }
}