.gy-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #E7ECF1;
    border-right: 1px solid #E7ECF1;
    border-left: 1px solid #E7ECF1;
    th{
        font-weight: normal;
    }
    td, th{
        height: 40px;
        font-size: 12px;
        color: $color-main;
        border-bottom: 1px solid #E7ECF1;
        padding: 0 20px;
        line-height: 1;
        text-align: left;
    }
    thead{
        td, th{
            height: 40px;
            font-size: 12px;
            font-weight: bold;
            background-color: #EEF3F8;
            color: $color-main;
        }
    }
    tr.selected, tr:hover{
        background-color: #f9f9f9;
    }
}
