.container-fluid{
    .el-pagination{
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }
    .el-input__icon{
        line-height: 30px;
    }
    .el-select .el-input.is-focus .el-input__inner,
    .el-select .el-input__inner:focus{
        border-color: $color-input-focus;
    }
    .el-input__inner{
        font-size: 14px;
    }
    .el-cascader-menu__item.is-active{
        color: $color-extra;
    }
    .el-cascader__label{
        color: $color-minor;
        span{
            color: $color-minor;
        }
    }
    .el-tooltip__popper.is-light {
      max-width: 420px;
      line-height: 1.8;
      border: 1px solid #e6eaea;
      word-break: break-all;
  }
    .el-input__inner {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $color-border;
        background-color: transparent;
    }
    .el-tabs__item.is-active{
       color: $color-title;
    }
    .el-tabs__item:hover{
      color: $color-title;
    }
    .el-tabs__active-bar{
        background-color: $color-tab-active;
    }
    .el-cascader__label{
        padding-left: 5px;
        font-size: 14px;
    }
    .el-menu{
        border-right: none;
    }
    .el-select{
        width: 100%;
        height: 30px;
    }
    .navMenu{
        min-height: 400px !important;
    }
    .el-upload--picture-card{
        height: 60px;
        width: 60px;
        line-height: 60px;
        border: 1px solid $color-border;
        background-color: #fff;
        border-radius: 0;
        i{
            font-size: 20px;
        }
    }
    .el-upload-list--picture-card .el-upload-list__item{
        height: 60px;
        width: 60px;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .el-menu-item, .el-submenu__title{
        line-height: 35px !important;
        height: 35px !important;
    }
    .el-input.is-disabled .el-input__inner{
        background-color: transparent;
        height: 30px !important;
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active{
        background-color: #d4d4d4;
    }
    .el-pagination li:hover {
        background-color: #d4d4d4;
        color: #fff !important;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 100%;
    }

    //  左对齐
    .base-info dl dt, .el-form-item__label {
        text-align: left;
    }
}
.el-message-box__wrapper{
    .el-button--primary{
        background-color: $color-extra;
        border-color: $color-extra;
        font-size: 14px;
        line-height: 28px;
        width: auto;
        padding: 0 16px;
    }
}
.el-main {
  padding: 0 28px;
}
.el-breadcrumb__inner {
  color: $color-minor;
  &:last-child {
    color: $color-title;
  }
}
.el-message-box {
  width: 500px;
  padding-bottom: 30px;
}
.el-message-box__header {
  height: 35px;
  padding: 8px 16px;
  border-bottom: 1px solid $color-border;
}
.el-message-box__content {
  padding: 18px 15px 23px 30px;
}
.el-message-box__headerbtn {
  top: 9px;
}
.el-message-box__btns {
  padding-right: 30px;
  &:after {
    display: block;
    content: ' ';
    clear: both;
  }
}
.el-message-box__wrapper .el-button--default {
  float: right;
  background-color: #fff;
  color: $color-main;
  border-color: $color-border;
  &:hover{
    border-color: $color-highlight;
    color: $color-highlight;
  }
  &.disable{
    cursor: not-allowed;
    opacity: 0.6;
    &:hover{
      color: $color-main;
      border-color: $color-border;
    }
  }
  &.selected{
    border-color: $color-highlight;
    color: $color-highlight;
  }
  &.warning{
    border-color:$color-warning;
    color:$color-warning;
  }
}
.el-message-box__wrapper .el-button--primary {
  line-height: 30px;
  margin-right: 15px;
  background-color: $color-highlight !important;
  color: #fff;
  border-color: $color-highlight !important;
  &:hover{
    opacity: 0.8;
    color: #fff;
  }
  &.disable{
    cursor: not-allowed;
    border-color: $color-border;
    background-color: $color-light;
    &:hover{
      opacity: 1;
    }
  }
}
.el-radio+.el-radio {
  margin-left: 60px;
}
.my-warehouse {
  .el-radio {
    min-width: 100px;
  }
}
.el-form-item {
  margin-bottom: 0;
}
.el-form-item__label {
  min-height: 46px;
  color: $color-title !important;
  font-size: 14px !important;
}
.el-form-item__content {
  min-height: 46px;
  color: $color-main !important;
  font-size: 14px !important;
}
.el-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 30px;
  line-height: 30px;
  border: 1px solid $color-border;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.el-button--primary {
  background-color: $color-highlight !important;
  color: #fff;
  border-color: $color-highlight !important;
  &:hover{
    opacity: 0.8;
    color: #fff;
  }
  &.disable{
    cursor: not-allowed;
    border-color: $color-border;
    background-color: $color-light;
    &:hover{
      opacity: 1;
    }
  }
}
.el-button--default {
  background-color: #fff !important;
  color: $color-main;
  border-color: $color-border;
  &:hover{
    border-color: $color-highlight;
    color: $color-highlight;
  }
  &.disable{
    cursor: not-allowed;
    opacity: 0.6;
    &:hover{
      color: $color-main;
      border-color: $color-border;
    }
  }
  &.selected{
    border-color: $color-highlight;
    color: $color-highlight;
  }
  &.warning{
    border-color:$color-warning;
    color:$color-warning;
  }
}
.el-dialog__header {
  height: 35px;
  padding: 6px 16px;
  border-bottom: 1px solid #e6eaea;
}
.el-dialog__title {
    line-height: 1;
    color: $color-title;
}
.el-dialog__headerbtn {
  top: 10px;
  right: 10px;
}
.el-dialog__body {
  padding: 20px 30px 30px 30px;
}
.dialog-footer {
  &:after {
    display: block;
    clear: both;
    content: ' ';
  }
  .el-button {
    float: right;
  }
  .el-button+.el-button {
     margin-right: 10px;
  }
}
.el-select .el-select__tags>span{
  display: contents;
}
.my-warehouse {
  .el-select__tags {
    .el-select__input {
      border: none !important;
      background: none !important;
    }
  }
  .registeredCapital .el-input__inner {
    padding-right: 16px;
  }
}
.el-table__fixed, .el-table__fixed-right {
  box-shadow: 0 0;
}
.el-table__row--striped td{
  background: #ffffff!important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background: #f9f9f9!important;
}
