//for vue
[v-cloak]{
    display: none;
}
.fade-enter-active, .fade-leave-active{
    transition: opacity .5s ease-in-out;
}
.fade-enter, .fade-leave-active{
    opacity: 0
}
// Default styles
html{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
*,
*:after,
*:before{
    box-sizing: inherit;
}
::-webkit-search-cancel-button{
    display: none;
}
body{
    color: $color-main;
    font-family: $body-font-family;
    font-size: $body-font-size;
    background-color: $color-body-bg;
    line-height: 1.8;
}
body, ol, ul, dl, li, dt, dd,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: none;
    vertical-align: middle;
}
em, i{
    font-style: normal;
}
button {
    border: none;
    outline: none;
}
a {
    display: inline-block;
}
:focus{
    outline: none;
}
.highlight{
    color: $color-highlight !important;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.fl {
    float: left;
}

.fr {
    float: right;
}
.cl{
    clear: both;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999!important;
    font-size: 14px!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999!important;
    font-size: 14px!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999!important;
    font-size: 14px!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999!important;
    font-size: 14px!important;
}
.gy-textarea{
    resize: none;
    font-size: 14px;
    height: 60px;
    border: 1px solid $color-border;
    border-radius: $border-radius-small;
    font-family: "Microsoft YaHei";
    &::-webkit-input-placeholder{
        color: #999;
        font-size: 14px;
    }
}
input{
    font-size: 14px!important;
    color: #666!important;
}
.icon-search{
    font-weight: bold!important;
    color: #000!important;
}
.container-fluid .el-input__inner{
    font-size: 14px!important;
    color: #666!important;
}
.el-date-editor .el-range__icon{
    color:#999!important;
}
.el-date-editor .el-range-input{
    color: #666!important;
}
.el-form-item__label{
    color: #333!important;
    font-size: 14px!important;
}
.el-tabs__header{
    margin: 0;
}
// 设置弹出框的样式
.el-message-box .el-message-box__content{
    padding: 20px 30px 30px!important;
}
.el-message-box .el-message-box__btns{
    padding: 0 30px 20px!important;
}
.el-message-box .el-message-box__message p{
    color: #333333!important;
}
