@font-face {
    font-family: 'iconfont';  /* project id 729775 */
    src: url('//at.alicdn.com/t/font_729775_5vtle318wbt.eot');
    src: url('//at.alicdn.com/t/font_729775_5vtle318wbt.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_729775_5vtle318wbt.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_729775_5vtle318wbt.woff') format('woff'),
    url('//at.alicdn.com/t/font_729775_5vtle318wbt.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_729775_5vtle318wbt.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
.icon-sheet:before {
    content:"\e654";
}
.icon-shezhi:before {
    content:"\e60a";
}
.icon-Download:before {
    content:"\e60d";
}
.icon-fenxiang:before {
    content:"\e624";
}
.icon-yanzhengchenggong:before {
    content:"\e86f";
}
.icon-text:before {
    content:"\e603";
}
.icon-copy:before {
    content:"\e628";
}
.icon-x2:before {
    content:"\e607";
}
.icon-chat:before {
    content:"\e604";
}
.icon-wx:before {
    content:"\e608";
}
.icon-calc:before {
    content:"\e609";
}
.icon-msg:before {
    content:"\e611";
}
.icon-maijia1:before {
    content:"\e613";
}
.icon-maijia:before {
    content:"\e614";
}
.icon-copy:before{
    content: '\e628';
}
.icon-home-page:before {
    content: '\e60d';
}
.icon-shopping-mall:before{
    content: '\e67b';
}
.icon-storage:before {
    content: '\e62a';
}
.icon-logistics:before{
    content: '\e65f';
}
.icon-down-arrow:before{
    content: '\e615';
}
.icon-info:before{
    content: '\e60b';
}
.icon-sign:before{
    content: '\e6a7';
}
.icon-record:before{
    content: '\e63c';
}

.icon-settle:before {
    content: '\ea5f';
}
.icon-search:before{
    content: "\e627";
    cursor: pointer;
}
.icon-hotline:before{
    content: "\e61a";
    cursor: pointer;
}
.icon-car:before{
    content: "\e619";
    cursor: pointer;
}
.icon-home:before{
    content: "\e61b";
    cursor: pointer;
}
.icon-mall:before{
    content: "\e61d";
    cursor: pointer;
}
.icon-storage:before{
    content: "\e618";
    cursor: pointer;
}
.icon-datanews:before{
    content: "\e635";
    cursor: pointer;
}
.icon-logistics:before{
    content: "\e61c";
    cursor: pointer;
}
.icon-arrow-down:before{
    content: "\e620";
    cursor: pointer;
}
.icon-arrow-up:before{
    content: "\e61f";
    cursor: pointer;
}
.icon-arrow-left:before{
    content: "\e623";
    cursor: pointer;
}
.icon-arrow-right:before{
    content: "\e621";
    cursor: pointer;
}
.icon-im:before{
    content: "\e604";
}
.icon-tipserror:before{
    content: "\e601";
}
.icon-help:before {
    content: "\e60c";
}
.icon-register:before{
    content: "\e645";
}
.icon-minus:before{
    content: "\e712";
}
.icon-backpassword:before{
    content: "\e63f";
}
.icon-add:before{
    content: "\e60e";
}
.icon-weitijiao:before{
    content: "\e629";
}
.icon-yirenzheng:before{
    content: "\e62b";
}
.icon-renzhengzhong:before{
    content: "\e62c";
}
.icon-bank:before{
    content: "\e62d";
}
.icon-company:before{
    content: "\e62f";
}
.icon-reject:before{
    content: "\e630";
}
.icon-ca:before{
    content: "\e631";
}
.icon-settle:before{
    content: "\e632";
}
.icon-right:before{
    content: "\e771";
}
.icon-car-right:before{
    content: "\e65b";
}
.icon-fishRegister:before{
    content: "\e633";
}
.icon-img:before{
    content: "\e6a5";
}
.icon-close:before{
    content: "\e634";
}
.icon-statement:before{
    content: "\e60f";
    font-size: 12px;
}
.icon-fangdajing:before{
    content: "\e627";
}
.icon-phone:before{
    content: "\e64f";
}
.icon-travel:before{
    content: "\e64a";
}
.icon-gift:before{
    content: "\e71d";
}
.icon-address:before{
    content: "\e636";
}
.icon-confirm:before{
    content: "\e610";
}
.icon-bitian:before{
    content: "\e602";
}
.icon-cornerMark:before{
    content: "\e6d8";
}
.icon-confirm:before{
    content: "\e637";
}
.icon-integral:before{
    content: "\e63e";
}
.icon-level:before{
    content: "\e63d";
}
.icon-confirm-point:before{
    content: "\e610";
}
.icon-news:before{
    content: "\e6eb";
}
.icon-note:before{
    content: "\eef7";
}
.icon-point:before{
    content: "\e63d";
}
.icon-address:before{
    content: "\e636";
}
.icon-img-view:before{
    content: "\e638";
}
.icon-pointmall:before{
    content: "\e63e";
}
.icon-supply:before{
    content: "\e648";
}
.icon-icon_shenqingxinxi:before{
     content: "\e656";
 }
.icon-myApply:before{
    content: "\e656";
}
.icon-qiye:before{
    content: "\e649";
}
.icon-icon_shenqing:before{
    content: "\e64d";
}
.icon-qitaxinxi:before{
    content: "\e647";
}
.icon-mySearch:before{
    content: "\e659";
}
.icon-shenqingren:before{
    content: "\e65d";
}
.icon-dingdanxinxi:before{
    content: "\e65a";
}
.icon-xiangxixinxi:before{
    content: "\e65e";
}
.icon-quanxian:before{
    content: "\e66f";
}
.icon-qianyue:before{
    content: "\e65c";
}
.icon-shoukuanyujiaoge:before{
    content: "\e660";
}
.icon-zijinzhanghuicon:before{
    content: "\e667";
}
.icon-add-no-border:before{
    content: "\e81a";
}
.icon-organization:before{
    content: "\e612";
    font-size: 15px;
}
